                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../">Home</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../about-us/">About</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../#wr-team">Partners</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="../dissertation-writing-help/#menu">Dissertation help</a></li>
                          <li><a class="menulink" href="../marketing-assignment-help/#menu">Marketing</a></li>
                          <li><a class="menulink" href="../management-assignment-help/#menu">Management</a></li>
                          <li><a class="menulink" href="../nursing-assignment-help/#menu">Nursing</a></li>
                          <li><a class="menulink" href="../accounting-assignment-help/#menu">Accounting</a></li>
                          <li><a class="menulink" href="../law-assignment-help/#menu">Law</a></li>
                          <li><a class="menulink" href="../it-assignment-help/#menu">IT &amp; data</a></li>
                          <li><a class="menulink" href="../project-management-assignment-help/#menu">Project management</a></li>
                          <li><a class="menulink" href="../case-study-assignment-help/#menu">Case study</a></li>
                          <li><a class="menulink" href="../thesis-writing-help/#menu">Thesis writing</a></li>
                          <li><a class="menulink" href="../essay-writing-help/#menu">Essay writing</a></li>
                          <li><a class="menulink" href="../report-writing-help/#menu">Report writing</a></li>
                          <li><a class="menulink" href="../exam-preparation-help/#menu">Exam preparation</a></li>
                          <li><a class="menulink" href="../thesis-with-spss-nvivo-help/#menu">SPSS &amp; NVivo</a></li>
                          <li><a class="menulink" href="../academic-coaching-help/#menu">Academic coaching</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Universities <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="../bpp-assignment-help/">BPP</a></li>
                          <li><a class="menulink" href="../aston-university-assignment-help/#menu">Aston</a></li>
                          <li><a class="menulink" href="../coventry-university-assignment-help/">Coventry</a></li>
                          <li><a class="menulink" href="../university-college-birmingham-assignment-help/#menu">UCB Birmingham</a></li>
                          <li><a class="menulink" href="../de-montfort-university-assignment-help/#menu">DMU</a></li>
                          <li><a class="menulink" href="../edinburgh-university-assignment-help/#menu">Edinburgh</a></li>
                          <li><a class="menulink" href="../essex-university-assignment-help/#menu">Essex</a></li>
                          <li><a class="menulink" href="../middlesex-university-assignment-help/#menu">Middlesex</a></li>
                          <li><a class="menulink" href="../university-of-derby-assignment-help/#menu">Derby</a></li>
                          <li><a class="menulink" href="../university-of-east-london-assignment-help/#menu">UEL</a></li>
                          <li><a class="menulink" href="../university-of-greenwich-assignment-help/#menu">Greenwich</a></li>
                          <li><a class="menulink" href="../university-of-sunderland-assignment-help/#menu">Sunderland</a></li>
                          <li><a class="menulink" href="../university-of-salford-assignment-help/#menu">Salford</a></li>
                          <li><a class="menulink" href="../university-of-warwick-assignment-help/#menu">Warwick</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../#wr-how-it-works">How it works</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../#wr-why">Why us</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../#wr-testimonials">Testimonials</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Our Branches <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="../assignment-help-in-uae-by-professionals/#menu">UAE</a></li>
                          <li><a class="menulink" href="../assignment-help-in-oman-muscat/#menu">Oman Muscat</a></li>
                          <li><a class="menulink" href="../assignment-help-in-canada/#menu">Canada</a></li>
                          <li><a class="menulink" href="../assignment-help-in-australia/#menu">Australia</a></li>
                          <li><a class="menulink" href="../assignment-help-in-uk-at-reasonable-price/#menu">UK</a></li>
                          <li><a class="menulink" href="../ireland-assignment-help/#menu">Ireland</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Cities <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="../assignment-help-in-london/#menu">London</a></li>
                          <li><a class="menulink" href="../assignment-help-in-glasgow/#menu">Glasgow</a></li>
                          <li><a class="menulink" href="../assignment-help-in-manchester/#menu">Manchester</a></li>
                          <li><a class="menulink" href="../assignment-help-in-leicester/#menu">Leicester</a></li>
                          <li><a class="menulink" href="../assignment-help-in-liverpool/#menu">Liverpool</a></li>
                          <li><a class="menulink" href="../assignment-help-in-cardiff/#menu">Cardiff</a></li>
                          <li><a class="menulink" href="../assignment-help-in-bristol/#menu">Bristol</a></li>
                          <li><a class="menulink" href="../assignment-help-in-birmingham/#menu">Birmingham</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link wr-nav-cta" data-target=".nav-collapse" data-toggle="collapse" href="#wr-contact">Contact</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="../blog/">Blog</a>
                      </li>
