                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="/">Home</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="/dissertation-writing-help/#menu">Dissertation help</a></li>
                          <li><a class="menulink" href="/essay-writing-help/#menu">Essay writing</a></li>
                          <li><a class="menulink" href="/nursing-assignment-help/#menu">Nursing</a></li>
                          <li><a class="menulink" href="/law-assignment-help/#menu">Law</a></li>
                          <li><a class="menulink" href="/management-assignment-help/#menu">Management</a></li>
                          <li><a class="menulink" href="/accounting-assignment-help/#menu">Accounting</a></li>
                          <li><a class="menulink" href="/it-assignment-help/#menu">IT &amp; data</a></li>
                          <li><a class="menulink" href="/exam-preparation-help/#menu">Exam preparation</a></li>
                          <li><a class="menulink" href="/academic-coaching-help/#menu">Academic coaching</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Universities <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="/bpp-assignment-help/">BPP</a></li>
                          <li><a class="menulink" href="/university-of-warwick-assignment-help/#menu">Warwick</a></li>
                          <li><a class="menulink" href="/coventry-university-assignment-help/">Coventry</a></li>
                          <li><a class="menulink" href="/university-of-derby-assignment-help/#menu">Derby</a></li>
                          <li><a class="menulink" href="/university-of-east-london-assignment-help/#menu">UEL</a></li>
                          <li><a class="menulink" href="/university-of-greenwich-assignment-help/#menu">Greenwich</a></li>
                          <li><a class="menulink" href="/edinburgh-university-assignment-help/#menu">Edinburgh</a></li>
                          <li><a class="menulink" href="/aston-university-assignment-help/#menu">Aston</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="/#wr-how-it-works">How it works</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="/about-us/">About</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link wr-nav-cta" data-target=".nav-collapse" data-toggle="collapse" href="#wr-contact">Contact</a>
                      </li>
