                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="index.html">Home</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="dissertation-writing-help.html#menu">Dissertation help</a></li>
                          <li><a class="menulink" href="essay-writing-help.html#menu">Essay writing</a></li>
                          <li><a class="menulink" href="nursing-assignment-help.html#menu">Nursing</a></li>
                          <li><a class="menulink" href="law-assignment-help.html#menu">Law</a></li>
                          <li><a class="menulink" href="management-assignment-help.html#menu">Management</a></li>
                          <li><a class="menulink" href="accounting-assignment-help.html#menu">Accounting</a></li>
                          <li><a class="menulink" href="it-assignment-help.html#menu">IT &amp; data</a></li>
                          <li><a class="menulink" href="exam-preparation-help.html#menu">Exam preparation</a></li>
                          <li><a class="menulink" href="academic-coaching-help.html#menu">Academic coaching</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle wr-nav-link" data-hover="dropdown" data-toggle="dropdown" href="#">Universities <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="menulink" href="bpp-assignment-help.html">BPP</a></li>
                          <li><a class="menulink" href="university-of-warwick-assignment-help.html#menu">Warwick</a></li>
                          <li><a class="menulink" href="coventry-university-assignment-help.html">Coventry</a></li>
                          <li><a class="menulink" href="university-of-derby-assignment-help.html#menu">Derby</a></li>
                          <li><a class="menulink" href="university-of-east-london-assignment-help.html#menu">UEL</a></li>
                          <li><a class="menulink" href="university-of-greenwich-assignment-help.html#menu">Greenwich</a></li>
                          <li><a class="menulink" href="edinburgh-university-assignment-help.html#menu">Edinburgh</a></li>
                          <li><a class="menulink" href="aston-university-assignment-help.html#menu">Aston</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="index.html#wr-how-it-works">How it works</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link" data-target=".nav-collapse" data-toggle="collapse" href="index.html#wr-team">About</a>
                      </li>
                      <li>
                        <a class="menulink wr-nav-link wr-nav-cta" data-target=".nav-collapse" data-toggle="collapse" href="#wr-contact">Contact</a>
                      </li>
