# 301 redirects: legacy .html URLs -> folder URLs
RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^about\-us\.html$ /about-us/ [R=301,L]
RewriteRule ^academic\-coaching\-help\.html$ /academic-coaching-help/ [R=301,L]
RewriteRule ^accounting\-assignment\-help\.html$ /accounting-assignment-help/ [R=301,L]
RewriteRule ^assignment\-help\-in\-australia\.html$ /assignment-help-in-australia/ [R=301,L]
RewriteRule ^assignment\-help\-in\-birmingham\.html$ /assignment-help-in-birmingham/ [R=301,L]
RewriteRule ^assignment\-help\-in\-bristol\.html$ /assignment-help-in-bristol/ [R=301,L]
RewriteRule ^assignment\-help\-in\-canada\.html$ /assignment-help-in-canada/ [R=301,L]
RewriteRule ^assignment\-help\-in\-cardiff\.html$ /assignment-help-in-cardiff/ [R=301,L]
RewriteRule ^assignment\-help\-in\-glasgow\.html$ /assignment-help-in-glasgow/ [R=301,L]
RewriteRule ^assignment\-help\-in\-leicester\.html$ /assignment-help-in-leicester/ [R=301,L]
RewriteRule ^assignment\-help\-in\-liverpool\.html$ /assignment-help-in-liverpool/ [R=301,L]
RewriteRule ^assignment\-help\-in\-london\.html$ /assignment-help-in-london/ [R=301,L]
RewriteRule ^assignment\-help\-in\-manchester\.html$ /assignment-help-in-manchester/ [R=301,L]
RewriteRule ^assignment\-help\-in\-oman\-muscat\.html$ /assignment-help-in-oman-muscat/ [R=301,L]
RewriteRule ^assignment\-help\-in\-uae\-by\-professionals\.html$ /assignment-help-in-uae-by-professionals/ [R=301,L]
RewriteRule ^assignment\-help\-in\-uk\-at\-reasonable\-price\.html$ /assignment-help-in-uk-at-reasonable-price/ [R=301,L]
RewriteRule ^aston\-university\-assignment\-help\.html$ /aston-university-assignment-help/ [R=301,L]
RewriteRule ^blog\.html$ /blog/ [R=301,L]
RewriteRule ^bpp\-assignment\-help\.html$ /bpp-assignment-help/ [R=301,L]
RewriteRule ^case\-study\-assignment\-help\.html$ /case-study-assignment-help/ [R=301,L]
RewriteRule ^coventry\-university\-assignment\-help\.html$ /coventry-university-assignment-help/ [R=301,L]
RewriteRule ^de\-montfort\-university\-assignment\-help\.html$ /de-montfort-university-assignment-help/ [R=301,L]
RewriteRule ^dissertation\-writing\-help\.html$ /dissertation-writing-help/ [R=301,L]
RewriteRule ^edinburgh\-university\-assignment\-help\.html$ /edinburgh-university-assignment-help/ [R=301,L]
RewriteRule ^essay\-writing\-help\.html$ /essay-writing-help/ [R=301,L]
RewriteRule ^essex\-university\-assignment\-help\.html$ /essex-university-assignment-help/ [R=301,L]
RewriteRule ^exam\-preparation\-help\.html$ /exam-preparation-help/ [R=301,L]
RewriteRule ^ireland\-assignment\-help\.html$ /ireland-assignment-help/ [R=301,L]
RewriteRule ^it\-assignment\-help\.html$ /it-assignment-help/ [R=301,L]
RewriteRule ^law\-assignment\-help\.html$ /law-assignment-help/ [R=301,L]
RewriteRule ^management\-assignment\-help\.html$ /management-assignment-help/ [R=301,L]
RewriteRule ^marketing\-assignment\-help\.html$ /marketing-assignment-help/ [R=301,L]
RewriteRule ^middlesex\-university\-assignment\-help\.html$ /middlesex-university-assignment-help/ [R=301,L]
RewriteRule ^nursing\-assignment\-help\.html$ /nursing-assignment-help/ [R=301,L]
RewriteRule ^project\-management\-assignment\-help\.html$ /project-management-assignment-help/ [R=301,L]
RewriteRule ^report\-writing\-help\.html$ /report-writing-help/ [R=301,L]
RewriteRule ^thesis\-with\-spss\-nvivo\-help\.html$ /thesis-with-spss-nvivo-help/ [R=301,L]
RewriteRule ^thesis\-writing\-help\.html$ /thesis-writing-help/ [R=301,L]
RewriteRule ^university\-college\-birmingham\-assignment\-help\.html$ /university-college-birmingham-assignment-help/ [R=301,L]
RewriteRule ^university\-of\-derby\-assignment\-help\.html$ /university-of-derby-assignment-help/ [R=301,L]
RewriteRule ^university\-of\-east\-london\-assignment\-help\.html$ /university-of-east-london-assignment-help/ [R=301,L]
RewriteRule ^university\-of\-greenwich\-assignment\-help\.html$ /university-of-greenwich-assignment-help/ [R=301,L]
RewriteRule ^university\-of\-salford\-assignment\-help\.html$ /university-of-salford-assignment-help/ [R=301,L]
RewriteRule ^university\-of\-sunderland\-assignment\-help\.html$ /university-of-sunderland-assignment-help/ [R=301,L]
RewriteRule ^university\-of\-warwick\-assignment\-help\.html$ /university-of-warwick-assignment-help/ [R=301,L]
